name: Run tests

on:
  push:
    branches: [ trunk ]
  pull_request:
    branches: [ trunk ]


jobs:
  run_unit_tests:
    strategy:
      matrix:
        PYTHON: [python3.8, python3.9, python3.10, python3.11, python3.12]
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Get deadsnakes repo
      run: sudo add-apt-repository --yes ppa:deadsnakes/ppa
    - name: Install Python
      run: sudo apt install --yes ${{matrix.PYTHON}}
    - name: Run tests
      run: ${{matrix.PYTHON}} scrapscript.py test
